httpx==0.27.0
requests==2.31.0
schedule==1.2.1
psutil==5.9.8
pywin32==306; sys_platform == "win32"
pyinstaller==6.6.0
cryptography==42.0.7
keyring==25.2.1
firebase-admin==6.5.0
geoip2==4.8.0
python-dotenv==1.0.1
certifi==2024.2.2
